h1 {
  color: blue;
}
li {
  color: red;
}
h2 {
  color: #85bc5e;
  text-align: center;
  border: 5px solid rgba(162, 54, 69, 0.5);
  cursor: pointer;
}
body {
  background-image: url(back.png);
  background-size: cover;
}
li {
  list-style: none;
  display: inline-block;
}
.webtext {
  border: 10px brown dashed;

  text-align: center;
}
.text {
  color: white;
}
.div1 {
  background-color: burlywood;
}
.div2 {
  background-color: green;
}
